<html>
    <head>
        <title>Task Manager App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/layoutsA.css">
        <%- style %>
    </head>

    <body>

        <div class="header">
            <h3>TODO APP</h3>
        </div>
        <main>
            <div id="dashboard">
                <div id="details">
                    <div id="img-container">
                        <% if(user.avtar) {%>
                        <img id="img" class="rounded-circle" src="<%=user.avtar%>" style="width:inherit;height: inherit;">
                        <% }else{%>
                            <img id="img" class="rounded-circle" src="/images/user_default_img.png" style="width:inherit;height: inherit;">
                       <% } %>
                    </div>
                    <p id="name"><%= user.name %></p>
                </div>
                <div id="options">
                    <div class="parent"><i class="fas fa-clipboard-list custom"></i><a class="sub" href="/task/">Todo</a></div>
                    <div class="parent"><i class="fas fa-address-book custom"></i><a class="sub" href="/users/update-form">Account</a></div>
                    <div class="parent"><i class="fas fa-sign-out-alt custom"></i><a class="sub" href="/users/log-out">LogOut</a></div>
                </div>
            </div>

            <%- body %>
            
        </main>
       
       

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/90f89e9e87.js" crossorigin="anonymous"></script>
        <%- script %>
    </body>
</html>
       
